@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Alata', sans-serif !important;
}

.containerCards{
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: center;
    width: 100% !important;
    background-color: #1f2937;
}

.containerData{
    height: 90vh !important;
    width: 50vh;
}

.containerImgCard{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.imageCard{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dataText{
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.buttonCart{
    display: flex;
    padding: 0.5rem;
    background-color:rgb(10, 10, 143);
    color: white;
    margin-top: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: small;
    justify-content: center;
    align-items: center;

}

.h1Hero{
    font-family: 'Londrina Shadow' !important;
    font-size: 8rem !important;
}
.containerVideo{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    color: white;
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.436);
}

.containerVideo video{
    object-fit: cover;
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.textHero{
    font-size: 6vh;
    position: relative;
    z-index: 1;
    background-color: #0000005d;
    padding: 1.5rem;
    margin: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}

.textHero h1{
    font-family: 'Permanent Marker' !important;
    font-size:7vh;
    color: #e74423;
    text-shadow: 3px 3px 3px black;

   
}

.ctaButton{
    background-color: #171f2b;
    color: white;
    width: 50%;
    margin-top: 0.3rem;
    font-weight: 900 !important;
    cursor: pointer;
    font-size: 5vh;

}

.ctaButton :hover{
    background-color: #e74423;
}