@tailwind base;
@tailwind components;
@tailwind utilities;


.containerCards{
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: center;
    width: 100% !important;
    background-color: #1f2937;
}

.containerData{
    height: 90vh !important;
    width: 50vh;
}

.containerImgCard{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.imageCard{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dataText{
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.buttonCart{
    display: flex;
    padding: 0.5rem;
    background-color:rgb(10, 10, 143);
    color: white;
    margin-top: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: small;
    justify-content: center;
    align-items: center;

}